/* font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;900&display=swap');

:root {
    /* Main Colors */
    --c-pink: rgb(227, 0, 89);

    /* Text */
    --c-white: rgb(255, 255, 255);

    /* body */
    --c-background: rgb(30, 30, 30);

    /* Containers */
    --c-container: rgb(44, 44, 44);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: var(--c-background);
    color: var(--c-white);
    height: 100vh;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1em;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--c-container);
    padding: 2em;
    border-top: 12px solid var(--c-pink);
    margin: 1em 1em;
    border-radius: 0.5em;
}

.char{
    transform: translateY(115px);
    transition: transform 0.5s;
}

.wizardImg{
    transform: scaleX(-1);
    cursor: pointer;
}

/* overlay */
.main-container, .overlay{
    height: 100vh;
}

.overlay{
    background-color: #303030;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    clip-path: circle(150px at var(--x, 50%) var(--y, 50%));
    transition: clip-path 50ms;
}

.overlay section{
    border-top: 12px solid #F4E4C3;
}

.remove-overlay{
    display: none;
}

.mystic-images{
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
}

.mystic-images img{
    width: 12.5em;
}
